header {
    order: 1;
    width: 100%;
    background-color: black;
    padding: 10px;
    height: 100%;
}
    div.logo {
        float: left;
        margin: 1px;
        width: 85px;
        height: 85px;
    }
div.name {
    background-color: yellow;
    text-align:center;
    padding:10px;
}
body {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
.body {
    display: flex;
    flex-direction: column;
}
.content {
    order: 2;
    margin: 1% 10%;
    height: 4%;
    background-color:chocolate;
    display: flex;
    justify-content: space-between;
    padding: 1% 15%;
}
nav {
    text-align: center;
    background-color: red;
    padding: 10px 0 10px 10px;
    margin-right: -20px;
}

nav a {
    display: flex;
    font-weight: bold;
    color: blue;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: black;
    transition: all 500ms ease-out;
}

.content1 {
    order: 3;
    margin: 1% 10%;
    display: flex;
    flex-direction: column;
}

.s1 {
    order: 1;
    background-color:lightskyblue;
    padding: 1%;
    margin-bottom: 1%;
}


table{
width:100%;
height: 300px;
}
th{
    background-color: lightseagreen;
}
tr.ch {
    background-color: aquamarine;
}
tr.nh{
    background-color:blueviolet;
}
tr.ph {
    background-color:navajowhite;
}
tr.hh {
    background-color:gold;
}
tr.rh {
    background-color:olivedrab;
}
.s2 {
    order: 2;
    background-color:hotpink;
    padding: 1%;
    margin-bottom: 1%;
}

.s3 {
    order: 3;
    background-color:lightcoral;
    padding: 1%;
    margin-bottom: 1%;
}

footer {
    display: flex;
    width: 100%;
    background-color: dodgerblue;
    margin: auto;
    padding: 20px
}
h1{
    text-align:center;
}
table.bt{
    border:solid;
}
@media all and (orientation: landscape) and (max-width: 1100px) {
    .logo {
        margin-right: 20%;
    }

    .content {
        text-align: center;
        flex-direction: column;
        margin: 1% 0%;
    }

    .content1 {
        order: 3;
        margin: 1% 0%;
    }

    .s2 {
        order: 3;
    }

    .s3 {
        order: 2;
    }
}
